@include buildCol('', 12, 'tb-col');

.table {
  th {
    vertical-align: middle;
    font-weight: 700;
  }

  .thead-light th {
    a {
      // color: $table-head-color;
    }

    .fa-sort {
      color: $gray-500
    }
  }

  td {
    border-color: $border-color;
    &.tb-col-200 {
      min-width: 200px;
    }
    &.tb-col-90 {
      min-width: 100px;
    }
    &.tb-col-150 {
      min-width: 150px;
    }
  }

  &.table-vertical {
    td {
      vertical-align: middle;
    }
  }
  &.table-form {
    td {
      padding: 0;
      padding-top: 0.4rem;
    }
    th {
      &.required {
        &:after {
          content: '*';
          color: $danger;
          margin-left: 3px;
        }
      }
    }
  }
  &.table-fixed {
    table-layout: fixed;
    td {
      border: none;
    }
  }

  thead {
    th {
      border-bottom: 2px solid $primary;
      white-space: nowrap;
      vertical-align: middle;
      label {
        margin-bottom: 0;
      }
    }
  }
}
