:root {
  --primaryblue-100: rgba(0, 99, 175, 1);
  --grey-900: rgba(17, 24, 39, 1);
  --grey-400: rgba(156, 163, 175, 1);
  --grey-500: rgba(109, 114, 128, 1);
  --neutral-300: rgba(185, 185, 185, 1);
  --grey-50: rgba(249, 250, 251, 1);
  --grey-600: rgba(75, 85, 99, 1);
  --primaryblue-40: rgba(161, 196, 222, 1);
  --primaryyellow-100: rgba(246, 194, 80, 1);
  --orange-200: rgba(255, 251, 250, 1);
  --grey-100: rgba(243, 244, 246, 1);
  --bold-16px-font-family: "Roboto", Helvetica;
  --bold-16px-font-weight: 700;
  --bold-16px-font-size: 16px;
  --bold-16px-letter-spacing: 0.24px;
  --bold-16px-line-height: 24px;
  --bold-16px-font-style: normal;
  --medium-14px-font-family: "Roboto", Helvetica;
  --medium-14px-font-weight: 500;
  --medium-14px-font-size: 14px;
  --medium-14px-letter-spacing: 0.21px;
  --medium-14px-line-height: 20px;
  --medium-14px-font-style: normal;
  --semibold-16px-font-family: "Roboto", Helvetica;
  --semibold-16px-font-weight: 600;
  --semibold-16px-font-size: 16px;
  --semibold-16px-letter-spacing: 0.24px;
  --semibold-16px-line-height: 24px;
  --semibold-16px-font-style: normal;
  --regular-16px-font-family: "Roboto", Helvetica;
  --regular-16px-font-weight: 400;
  --regular-16px-font-size: 16px;
  --regular-16px-letter-spacing: 0.24px;
  --regular-16px-line-height: 24px;
  --regular-16px-font-style: normal;
  --semibold-20px-font-family: "Roboto", Helvetica;
  --semibold-20px-font-weight: 600;
  --semibold-20px-font-size: 20px;
  --semibold-20px-letter-spacing: 0.3px;
  --semibold-20px-line-height: 28px;
  --semibold-20px-font-style: normal;
  --regular-12px-font-family: "Barlow", Helvetica;
  --regular-12px-font-weight: 400;
  --regular-12px-font-size: 12px;
  --regular-12px-letter-spacing: 0.18px;
  --regular-12px-line-height: 16px;
  --regular-12px-font-style: normal;
  --regular-14px-font-family: "Roboto", Helvetica;
  --regular-14px-font-weight: 400;
  --regular-14px-font-size: 14px;
  --regular-14px-letter-spacing: 0.21px;
  --regular-14px-line-height: 20px;
  --regular-14px-font-style: normal;
  --bold-20px-font-family: "Roboto", Helvetica;
  --bold-20px-font-weight: 700;
  --bold-20px-font-size: 20px;
  --bold-20px-letter-spacing: 0.3px;
  --bold-20px-line-height: 28px;
  --bold-20px-font-style: normal;
  --medium-16px-font-family: "Roboto", Helvetica;
  --medium-16px-font-weight: 500;
  --medium-16px-font-size: 16px;
  --medium-16px-letter-spacing: 0.24px;
  --medium-16px-line-height: 24px;
  --medium-16px-font-style: normal;
  --2xl: 0px 0px 48px -12px rgba(16, 24, 40, 0.18);
  --card-drop-2: 20px 14px 40px 0px rgba(0, 0, 0, 0.08);
  --variable-collection-8px: 8px;
}
